* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1417px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    
}