.discount_btn {
    width: 220px;
    height: 63px;
    opacity: 1;
    border-radius: 7px;
    font-family: Golos Text;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    background-color: #956D84;
    color: #FFFFFF;
    border: none;
}