




.header_media_favourite {
    display: flex;
    justify-content: center;
    padding-top: 22px;
    display: flex;
    gap: 13px;
    align-items: center;
}

.header_media_currency {
    color: rgb(130, 130, 130);
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 300;
    line-height: 10px;
}