.discounting {
    padding-top: 80px;

    .discount_title {
        text-align: center;
        color: rgb(51, 51, 51);
        font-family: Golos Text;
        font-size: 50px;
        font-weight: 700;
        line-height: 18px;
    }


    .view_all_btn {
        padding-top: 60px;
        display: flex;
        justify-content: end;
        margin-right: 30px;
    }

    .discount_item {
        display: flex;
        flex-direction: column;
        border: 1px solid #956D84;
        width: 340px;
        height: 600px;
        background: #fff;
    }

    .discounting_list {
        padding-top: 30px;
    }


    .discount_img {
        width: 100%;
        height: 366px;
        object-fit: cover;
        background: #FBF9FA;
    }

    .discount_team {
        display: flex;
        gap: 20px;
        padding: 20px 10px 0 10px;
        align-items: center;
    }

    .discount_name {
        color: #333333;
        font-family: Golos Text;
        font-size: 18px;
        font-weight: 300;
        line-height: 18px;
    }

    .discounting_item {
        display: flex;
        gap: 10px;
        align-items: center;

        .discount_old {
            color: #BDBDBD;
            font-family: Golos Text;
            font-weight: 300;
            font-size: 18px;
            line-height: 18px;
        }

        .discount_price {
            color: #956D84;
            font-family: Golos Text;
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
        }
    }

    .discounting_btn {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;

        .discount_sup {
            color: #828282;
            text-decoration: underline;
            font-family: Golos Text;
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            margin-top: 10px;
        }
    }

    .discount_rating {
        padding-left: 20px;
        padding-top: 10px;
        color: yellow;
    }
}