.footer {
    margin-top: 50px;
    background: #333333;
    width: 100%;
    height: 348px;
    opacity: 1;
}

.footer_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_designer {
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.733);
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
}

.footer_team {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.footer_title {
    padding-bottom: 45px;
    color: #FFFFFF;
    font-family: Golos Text;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.footer_sup {
    padding-top: 15px;
    width: 192px;
    font-family: Golos Text;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #ffffffb2;
}

.footer_img {
    background-color: none;
    background-color: transparent;
    width: 269px;
    height: 269px;
}

.footer_hr {
    height: 0px;
    border: 1px solid rgb(149, 109, 132);
}