.forum {
    padding-top: 90px;
}

.forum_list {
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
}

.forum_picture {
    position: relative;
    bottom: 130px;
    left: 5%;
    object-fit: cover;
    width: 411px;
    height: 343px;
}

.forum_suptitle {
    width: 427px;
    position: absolute;
    bottom: 10px;
    left: 5%;
    font-family: Golos Text;
    font-weight: 250;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
}


.forum_item {
    position: relative;
    width: 460px;
    height: 345px;
    background-color: #956D84;


}

.forum_title {
    text-align: center;
    color: rgb(51, 51, 51);
    font-family: Golos Text;
    font-size: 50px;
    font-weight: 700;
    line-height: 18px;

}


.forum_text {
    width: 307px;
    position: absolute;
    bottom: 70px;
    left: 5%;
    color: #FFFFFF;
    font-family: Golos Text;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;

}