.header {
    width: 100%;
    padding-top: 28px;

    .header_block {
        display: flex;
        justify-content: space-between;
        padding: 0px 20px 0px 20px;
    }

    .head_list {
        padding-top: 46px;
    }
}