.header_search_box {
    display: flex;
    gap: 21px;
}

.header_search_input1 {
    width: 219px;
    height: 26px;
    font-family: Golos Text;

}

.header_search_input2 {
    width: 580px;
    height: 26px;
    font-family: Golos Text;
}