.map {
    padding-top: 70px;
}

.map_iframe {
    border: none;
    width: 1400px;
    height: 508px;
}


.map_contact {
    position: relative;
    bottom: 514px;
    left: 820px;
    width: 380px;
    height: 508px;
    background-color: white;


}