.present {
    padding-top: 80px;
}

.present_title {
    text-align: center;
    color: rgb(51, 51, 51);
    font-family: Golos Text;
    font-size: 50px;
    font-weight: 700;
    line-height: 18px;
}


.present_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;

    .present_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #956D84;
        width: 340px;
        height: 600px;
        margin-top: 20px;
    }
}

.present_sup {
    color: #828282;
    text-decoration: underline;
    font-family: Golos Text;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding-top: 10px;
}

.present_rating {
    padding-top: 10px;
    color: yellow;
}

.present_btn {
    margin-top: 50px;

}

.present_team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;

}

.present_pad {
    padding: 0px 20px 0px 20px;
}

.present_name {
    width: 180px;
    color: #333333;
    font-family: Golos Text;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
}

.present_img {
    width: 335px;
    height: 345px;
    background: #FBF9FA;
    object-fit: cover;
}

.present_price {
    color: #956D84;
    white-space: nowrap;
    width: 79px;
    font-family: Golos Text;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}