.li_item {
    margin-left: 20px;
    border: 1px solid #956D84;
    width: 340px;
    height: 600px;
}

.li_img {
    width: 100%;
    height: 366px;
    object-fit: cover;
    background-color: #956D84;
}

.li_team {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    align-items: center;
}

.li_name_wrapper {
    position: relative;
    display: inline-block;
    max-width: 160px; // ширина контейнера, под которую делаем ellipsis
}

.li_name {
    white-space: nowrap; // одна строка
    overflow: hidden; // скрываем лишний текст
    text-overflow: ellipsis; // добавляем троеточие
    cursor: pointer;

    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px; // ограничение по ширине контейнера

}

.li_name_wrapper:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.tooltip {
    position: absolute;
    bottom: 100%;
    left: 0;
    background: #956D84;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 14px;
    white-space: normal;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 10;
}




.li_old {
    color: #BDBDBD;
    font-family: "PT Sans", sans-serif;
    
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
}

.li_price {
    color: #956D84;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.li_btn {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.li_sup {
    color: #828282;
    text-decoration: underline;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-top: 10px;
}

.li_rating {
    padding-left: 20px;
    padding-top: 10px;
    color: yellow;
}