.season {
    padding-top: 80px;
}

.season_list {
    padding-top: 20px;

    .season_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #956D84;
        width: 340px;
        height: 600px;
        margin-top: 20px;
    }
}

.view_all_btn {
    padding-top: 60px;
    display: flex;
    justify-content: end;
    margin-right: 30px;
} 

.season_name {
    width: 220px;
    color: #333333;
    font-family: Golos Text;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
}

.season_team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;

}

.season_btn {
    margin-top: 50px;

}

.season_price {
    color: #956D84;
    white-space: nowrap;
    width: 79px;
    font-family: Golos Text;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.season_pad {
    padding: 0px 20px 0px 20px;
}

.season_rating {
    padding-top: 10px;
    color: yellow;
}

.season_img {
    width: 335px;
    height: 345px;
    background: #FBF9FA;
    object-fit: cover;

}

.season_title {
    text-align: center;
    color: rgb(51, 51, 51);
    font-family: Golos Text;
    font-size: 50px;
    font-weight: 700;
    line-height: 18px;
}

.season_sup {
    color: #828282;
    text-decoration: underline;
    font-family: Golos Text;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding-top: 10px;
}