.banner {

    .banner_block {
        display: flex;
        justify-content: space-between;
    }

    .banner_details_item1 {
        display: flex;
        gap: 21px;
    }


    .banner_details_item2 {
        display: flex;
        padding-top: 30px;
        gap: 21px;


    }
}