.cards {
    padding-top: 50px;
}

.cards_block {
    display: flex;
    justify-content: space-between;
}

  .design_left {
       top: 790px;
        position: absolute;
        left: 0;
    }

    .design_left_img {
        width: 152px;
        height: 512px;
    }