.discounting {
    padding-top: 50px;

}

.discount_title {
    padding-top: 50px;
    color: rgb(51, 51, 51);
    font-family: Golos Text;
    font-size: 50px;
    font-weight: 700;
    line-height: 18px;
}


.discounting_list {
    padding-top: 30px;
}



.discount_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}