.forum {
    position: relative;
    padding-top: 90px;
}

.forum_list {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
}

.forum_picture {
    position: relative;
    bottom: 130px;
    left: 5%;
    object-fit: cover;
    width: 411px;
    height: 343px;
}

.forum_suptitle {
    width: 427px;
    position: absolute;
    bottom: 10px;
    left: 5%;
    font-family: "PT Sans", sans-serif;

    font-weight: 250;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
}


.forum_item {
    position: relative;
    width: 460px;
    height: 345px;
    background-color: #956D84;


}

.forum_title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(149, 109, 132);
    font-family: "PT Sans", sans-serif;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
    transition: color 0.3s ease, text-shadow 0.3s ease;

}


.forum_text {
    width: 307px;
    position: absolute;
    bottom: 70px;
    left: 5%;
    color: #FFFFFF;
    font-family: "PT Sans", sans-serif;

    font-weight: 300;
    font-size: 18px;
    line-height: 18px;

}

.design_right {
    top: 0px;
    position: absolute;
    right: 0;
}

.forum_page_items {
    padding-top: 60px;
}

.design_right_img {
    width: 152px;
    height: 512px;
}

.forum_page_bg {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background: #956D84;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
        color: white;
        background: #b48aa2;
    }

    p {
        color: white;
        margin: 0;
        font-weight: 500;
    }

    .rotate {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }
}

.forum_page_sup {
    padding: 10px 20px;
    background: #fff0f5;
    border-radius: 10px;
    margin-top: 5px;
}