.season {
    padding-top: 80px;
}

.season_list {
    padding-top: 50px;

}

.season_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(149, 109, 132);
    font-family: "PT Sans", sans-serif;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.season_header {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}