.forum_page_title {
    text-align: center;
    padding-top: 50px;
    color: rgb(51, 51, 51);
    font-family: Golos Text;
    font-size: 50px;
    font-weight: 700;
    line-height: 18px;
}

.forum_page_sup {
    width: 1418px;
    padding-top: 80px;
    color: #333333bd;
    font-family: Golos Text;
    font-size: 18px;
    font-weight: 250;
    line-height: 30px;

}

.forum_pages {
    margin-top: 50px;

}

.forum_page_bg {
    margin-top: 20px;
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #956D84;
    height: 78px;
    color: #FFFFFF;
    font-family: Golos Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
}