.view_page {

    .view_title {
        padding-top: 60px;
        text-align: center;
        color: rgb(51, 51, 51);
        font-family: Golos Text;
        font-size: 50px;
        font-weight: 700;
        line-height: 18px;
    }

    .view_list {
        padding-top: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .view_item {
        display: flex;
        flex-direction: column;
        border: 1px solid #956D84;
        width: 340px;
        height: 600px;
        background: #fff;
    }

    .view_img_wrap {
        background: #FBF9FA;
    }

    .view_img {
        width: 100%;
        height: 366px;
        object-fit: cover;
    }

    .view_rating {
        padding-left: 20px;
        padding-top: 10px;
        color: yellow;
    }

    .view_content {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 0 20px;
        align-items: center;
    }

    .view_name {
        color: #333333;
        font-family: Golos Text;
        font-size: 18px;
        font-weight: 300;
        line-height: 18px;
    }




    .view_old_price {
        color: #BDBDBD;
        font-family: Golos Text;
        font-weight: 300;
        font-size: 18px;
        line-height: 18px;
    }

    .view_price {
        color: #956D84;
        font-family: Golos Text;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
    }
}

.view_actions {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

    .view_fast {
        color: #828282;
        text-decoration: underline;
        font-family: Golos Text;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        margin-top: 10px;
    }
}