.product_display {
    display: flex;
    gap: 40px;
    margin-top: 50px;
}

.product_filter {
    width: 400px; // левая колонка

    h3 {
        font-family: "PT Sans", sans-serif;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 20px;
        color: #333;
    }

    .filter_cards {
        display: flex;
        flex-direction: column; // столбик
        gap: 12px;
    }

    .filter_card {
        width: 250px;
        height: 60px;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 10px 18px;
        border-radius: 12px;
        cursor: pointer;
        font-family: "PT Sans", sans-serif;
        font-weight: 500;
        color: #956D84;
        background: #fff;
        border: 2px solid transparent;
        box-shadow: 0 4px 12px rgba(149, 109, 132, 0.1);
        transition: all 0.3s ease;

        .check_icon {
            font-size: 16px;
            color: transparent;
            transition: color 0.3s ease;
        }



        &.active {
            color: #fff;
            font-weight: 700;
            border: 2px solid #956D84;

            .check_icon {
                color: #fff;
            }
        }
    }
}

.view_title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    color: rgb(149, 109, 132);

    /* Лёгкая тень для объёма */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);

    /* Плавный переход цвета при наведении */
    transition: color 0.3s ease;

    &:hover {
        color: rgb(189, 89, 146);
        /* чуть ярче при наведении */
    }
}


.view_list {
    flex: 1; // правая колонка растягивается
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.pagination_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .MuiPaginationItem-root {
        font-family: "PT Sans", sans-serif;
        font-weight: 500;
        color: #956D84;

        &.Mui-selected {
            background-color: #956D84;
            color: #fff;
            font-weight: 700;
        }

        &:hover {
            background-color: rgba(149, 109, 132, 0.1);
        }
    }
}